body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #FFE3D8 , #3747a6);
}

.container {
    width: 80%;
    margin: auto;
}

header {
    font-display: auto;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10% ;
    background-color: #0A043C;
    color: #ffffff;
    padding: 20px 0;
    font-family: 'Courier New', Courier, monospace;
}

header h1 {
    margin: 100;
}

nav ul {
    font-family: 'Courier New', Courier, monospace ;
    list-style-type: none;
    padding: 0;
    margin-top: 10;
}


nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    box-shadow: 0 0 10px#0073ff;
    box-sizing: auto;
    border-style:double ;
    border-radius: 10PX;
    color: #ffffff;
    text-decoration: none;
}

section {
    padding: 50px 0;
}

section h2 {
    
    text-shadow: 0 0 2px ;
    color: #03506F;
    margin-top: auto;
}

section h3{
    
    margin: auto;
}

.port1 img {
    width: 25%;
    border-radius: 10px;
}

.port2 bg{
    margin-right: 1%;
    width: 50%;
    border-radius: 10px;
}

.img img{
    
    width : 50%;
    background-color: #0073ff;
    border-radius: 10px;
} 

footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}
